BRIDGE_PORT=8765
BRIDGE_HOST=0.0.0.0
BRIDGE_ALLOWED_DIRS=/home/YOUR_USER/workspace
BRIDGE_PUBLIC_WS_URL=ws://YOUR_MESHNET_OR_LAN_IP:8765
BRIDGE_API_KEY=REPLACE_WITH_RANDOM_KEY
BRIDGE_ALLOW_CLAUDE_OAUTH=0
